
$whitebg: #ffffff;
$bluebg: #001335;
$greybg: #F4F4F4;
$whitetext: white;
$blacktext: black;

*{
    box-sizing: border-box;
  }
  
  body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    font-weight:normal;
    line-height:1.5;
    color:#333;
    overflow-x:hidden;
  }
  
  .v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
  }
  
  .container{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
  }
  
  .fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
  }
  
  .fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
  }
  
  .header-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
    background:#225470;
    opacity:0.85;
  }
  
  .header-content{
    z-index:2;
    h1{
        font-size:50px;
        margin-bottom:0;
    }
    p{
        font-size:1.5rem;
        display:block;
        padding-bottom:2rem;
      }
  }
  
  .btn{
    background: #34b3a0;
    color:#fff;
    font-size:1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
  }

  .section-a {
    background: $greybg;
    color:#000;
    padding:20px 0;
    .picture_me{
      box-shadow: 0 20px 80px rgba(0,0,0,.6); 
      border:7px solid #fff;
      margin-bottom:2%;
    }
  }
  .section-b{
    background: $whitebg;
    color:#000;
    padding:20px 0;

    h2 {
      color:#000;
      text-align: center;
    }

  }
  
  /* FlexBox */

  .projects {

    display: flex; display: -webkit-flex;
    flex-direction: row; -webkit-flex-direction: row;
    flex-wrap: wrap; -webkit-flex-wrap: wrap;
    justify-content: center; -webkit-justify-content: center;
    width:100%;
    margin:0 auto;

    h1 {
      margin-bottom:2%;
    }
    
    a{
      margin:1.5%;
    }

    .item {
      // background-image:url('https://images.unsplash.com/photo-1431578500526-4d9613015464?q=80&fm=jpg&s=169b4f4e6f3882a03b6b93b2e6848052');
      background-image:url('https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98b1cd2ea86a7b4796275ef13aadafbf&auto=format&fit=crop&w=1352&q=80');
      background-size:cover;
      background-position:center center;
      min-height:400px;
      min-width:400px;
      margin:1.5%;
      box-shadow: 0 20px 80px rgba(0,0,0,.8);
      border: 3px solid #F4F4F4;
    }
  }
  
  .item-info{
    background:rgba(0,0,0,0.6);
    display: flex; display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
    flex-wrap: wrap; -webkit-flex-wrap: wrap;
    justify-content: center; -webkit-justify-content: center;
    align-items: center; -webkit-align-items: center;
    min-width:400px;
    min-height:400px;

    h2{
      font-weight:900;
      color:#ffffff;
     }

    span {
      color:#cfcfcf;
      font-family:Arial;
      font-style:italic;
      font-size:0.9em;
      padding-top:5px;
    }

    #project_link{
      color:#fff;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .header-overlay{

    }

    .header-content {
      h1{
        font-size:40px;
      }
      p {
        margin-top:0.5%;
        font-size:18px;
      }
    }
    .projects{
      .item{
        margin:1% 0 1% 0;
        min-height:280px;
        min-width:280px;
      }
      .item-info{
        min-height:280px;
        min-width:280px;
      }
    }
  } /* End of Mobile Media Query*/



  @media only screen and (min-width: 768px) {

  } 

  @media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }

 
